{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Modifier votre commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('wish_detail', {'id': comment.wish.id}) }}">Retour au souhait</a>
{% endblock %}
