{% extends 'base.html.twig' %}

{% block title %}À propos - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content-card">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat consequat ultrices et niunc adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam gravida quis nisl tempus pharetra. Vivamus luctus malesuada feugiat. In maximus dui id volutpat molestie.</p>
        <p>Duis volutpat, augue non consequat tincidunt, est sem malesuada nunc, vel facilisis dui sapien et libero. Suspendisse potenti. Nullam tempor neque at porttitor accumsan. Nunc pulvinar quod, vel dapibus diam auctor vel. Cras sodales leo et nisi porttitor, nec accumsan turpis condimentum.</p>
        <p>Aenean vel ex dictum, accumsan justo quis, ultrices felis. Ut scelerisque metus vel pharetra ultricies. Nulla facilisi. Duis placerat eros a metus blandit, id fringilla dui molestie.</p>
    </div>
{% endblock %}