{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <div class="content-card">
        <h2>Bienvenue sur Bucket-List</h2>
        <p>Votre site pour créer une liste de toutes les choses que vous souhaitez faire au moins une fois dans votre vie !</p>
        <p>Commencez dès maintenant à planifier vos rêves et transformez-les en objectifs tangibles.</p>
        {% if app.user %}
            <a href="{{ path('wish_create') }}" class="btn-bucket mt-3">Commencer</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn-bucket mt-3">Commencer</a>
        {% endif %}
    </div>
{% endblock %}